{#
/**
 * @file
 * Theme override of a datetime form element.
 *
 * Available variables:
 * - attributes: HTML attributes for the datetime form element.
 * - content: The datelist form element to be output.
 *
 * @see template_preprocess_datetime_form()
 */
#}
{% set attributes_rendered %}
  {{ attributes }}
{% endset %}

{% if attributes_rendered %}
<div{{ attributes_rendered }}>
{% endif %}

  {{ content }}

{% if attributes_rendered %}
</div>
{% endif %}
