# Ignore Mac files
.DS_Store

# Ignore PHPStorm files
.idea/
.idea/*

# Ignore rbenv project files
.ruby-version

# Ignore output css
css/style.css

# Ignore node modules
node_modules

# Ignore sass cache
.sass-cache

