{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 *
 * @see template_preprocess_file_link()
 */
#}
{% set attributes_rendered %}
  {{ attributes }}
{% endset %}

{% if attributes_rendered %}
<span{{ attributes_rendered }}>
{% endif %}

{{ link }}

{% if attributes_rendered %}
</span>
{% endif %}
